# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
cnn_env/
.venv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db
